# Конфигурация для QR-оплаты
APP_KEY=CHANGE_ME_APP_KEY
CALLBACK_DOMAIN=http://localhost:5000

# Рабочие параметры как в Postman
MACH_ID=00000000007
DEVICE_ID=00000000000
COMPANY_SHH=20251210
PAY_COMPANY=vid.company(13979)
CHANNEL_ID=36
